body, html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

#inner-container {
	background-color: white;
	height: 100%;
	margin: 15px;
}

.input-container {
	padding: 3px;
}

.small-text > input {
	font-size: 28px !important;
} 

@media only screen and (max-width : 767px) {
	* {
		font-size: 30px !important;
	}
}

@media only screen and (min-width : 768px)  and (max-width: 1199px) {
	* {
		font-size: 30px !important;
	}
}

@media only screen and (min-width : 1200px) {
	* {
		font-size: 30px !important;
	}
	#inner-container {
		max-width: 1200px;
	}
}

select.form-control {
    padding: 1px 12px !important;
}

#reset-button {
	margin: 5px 0px;
}

#sum-container {
	display: flex;
}

#sum-textbox {
	max-width: 200px;
}