<!doctype html>
<html ng-app="evoApp">
  <head>
    <title>Evolve Calculator</title>
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="AppController as app">
  <h2>How many pokemon you can evolve from current candy?</h2>
	<input type="text" value="Name" size="12" disabled>
	<input type="text" value="Require" style="width: 45px;" disabled>
	<input type="text" value="#Candy" style="width: 45px;" disabled>
	<input type="text" value="#Evolve" size="4" disabled>
  	<div ng-repeat="monObj in app.monObjList">
		<input type="text" ng-model="monObj.name" size="12" select-on-click>
		<input ng-attr-type="{{app.isMobile?'text':'number'}}"  ng-model="monObj.requiredCandy" ng-change="app.cal(monObj)" style="width: 45px;" select-on-click>
		<input ng-attr-type="{{app.isMobile?'text':'number'}}" ng-model="monObj.hasCandy" ng-change="app.cal(monObj)" style="width: 45px;" select-on-click>
		<input type="text" ng-model="monObj.countEvolve" size="4" disabled="">
  	</div>
  	<br>
	Sum: <input type="text" ng-model="app.sum" disabled>
  </body>
</html>