<!doctype html>
<html ng-app="evoApp">
  <head>
    <meta name="description" content="Pokemon Go Candy Evolution Calculator">
    <meta name="keywords" content="Pokemon Go, Candy Calculator, Evolution Calculator, Evolve Calculator, Pidgey Calculator">
    <meta name="author" content="Thanabhat Koomsubha">
    
    <title>Pokemon GO Candy Evolution Calculator (Pidgey Calculator)</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular.ui-sortable.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-touch.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="app.js"></script>
    <script src="pokemons.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-70843293-5', 'auto');
      ga('send', 'pageview', location.pathname);
    </script>
  </head>
  <body ng-controller="AppController as app">
    <div id="inner-container">
      <h1>How many pokemon you can evolve from collected candy? (** Gen 2 Updated **)</h1>
      <hr>
      <div style="display: none;">
        <button type="button" class="btn btn-default custom-checkbox-button" ng-model="app.model.isHalloween" ng-click="app.onApplyHalloweenClick($event)" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
          Apply Halloween Candy
        </button>
        {{app.model.isHalloween?"Get 2 candy per tranfer.":"Get 1 candy per tranfer."}}
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-2">Name</div>
        <div class="col-sm-2">Candy / Pokemon</div>
        <div class="col-sm-2">Collected Candy</div>
        <div class="col-sm-2">Collected Pokemon</div>
        <div class="col-sm-4">#Result</div>
      </div>

      <div ui-sortable="app.sortableOptions" ng-model="app.model.monObjList">
        <div class="row mon-row" ng-repeat="monObj in app.model.monObjList track by $index">
          <div class="col-sm-2 input-container">
            <input type="text" ng-model="monObj.name" style="width: 100%;" select-on-click uib-typeahead="pokemon.name for pokemon in app.pokemons | filter:$viewValue | limitTo:8" typeahead-on-select="app.onPokemonSelect(monObj)" class="form-control" placeholder="Pidgey">
          </div>
          <div class="col-sm-2 input-container" style="display: flex; line-height: 34px;">
            <span ng-bind="monObj.requiredCandy" style="width: 100%; text-align: center;"></span>
          </div>
          <div class="col-sm-2 input-container">
            <input type="text" ng-model="monObj.hasCandy" ng-change="app.cal(monObj)" style="width: 100%;" select-on-click class="form-control">
          </div>
          <div class="col-sm-2 input-container">
            <input type="text" ng-model="monObj.hasPokemon" ng-change="app.cal(monObj)" style="width: 100%;" select-on-click class="form-control">
          </div>
          <div class="col-sm-4 input-container small-text">
            <input type="text" ng-model="monObj.resultText" style="width: 100%;" disabled="" class="form-control">
          </div>
        </div>
      </div>
      <div id="sum-container">
        <span>Sum:</span>
        <input id="sum-textbox" type="text" ng-model="app.model.sum" disabled class="form-control">
      </div>
      <button id="reset-button" type="button" class="btn btn-default" ng-click="app.resetModel()">Reset</button>
      <button id="reset-button" type="button" class="btn btn-default" ng-click="app.addRow()">Add Row</button>
      <button id="reset-button" type="button" class="btn btn-default" ng-click="app.removeRow()">Remove Row</button>
      <hr>
      <span>* Note: 'Collected Pokemon' is used to calculate the maximum limit of pokemon you can evolve, leave as -1 to not specify. </span>
      <br>
      <span>* Trf = Transfer, Evl = Evolve</span>
    </div>
  </body>
</html>
